html, body {
    min-height: 100%;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    background-color: #FAF9F6;
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

header a {
    flex: 1;
}

header input {
    width: 300px;
    height: 25px;
    margin-left: 15%;
}

.logo {
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 19pt;
    position: absolute;
    margin: 0;
    left: 10px;
    text-decoration: none;
    color: #7A9CC6;
    
}

aside {
    position: absolute;
    z-index: -1;
    left: 0;
    float: left;
    width: 15%;
    height: 400%;
    background-color: #F1EFEA;
}

.sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    color: #5F82AF;
    text-decoration: none;

}

.sidebar li  a{
    color: #5F82AF;
    text-decoration: none;
}

.sidebar {
    margin-top: 80px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    
    
}

.sidebar h3 {
    margin-left: 10px;
    text-align: left;
}

.content {
    background-color: #FAF9F6;
    border: 1px solid #DDD8CF;
    float: right;
    width: 84%;

    margin-top: 70px;
}

.info h1{
    margin: 0;
    padding: 10px;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;

}

.info p{
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: justify;
    
}

.info a {
    margin: 0;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    text-align: justify;
}

.image-frame {
    float: right;
    height: 300px;
    width: 230px;
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    background-color: #F1EFEA;
    border: 3px solid #DDD8CF;
}

.articleimg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.image-frame h3 {
    margin: 0;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "Fjalla One", sans-serif;

}

.image-frame h4 {
    margin: 0;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 5px;
    

}

.free-img {
    height: 400px;
    margin-left: 10px;
}

code {
    font-family: inherit;

}

pre {
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    margin-left: 10px;
    padding: 15px;
    border-radius: 6px;
    width: 500px;
    height: 300px;
    font-family: Consolas, monospace;

}

.inline-a {
    padding: 0 !important;
    
}


@media (max-width: 600px) {
    aside {
        display: none;
    }

    .content {
        width: 98%;
    }

    header input {
        width: 50%;
    }

    .free-img {
    height: 200px;

    }

    pre {
        width: 250px;
        height: 150px;
    }

}
